name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  push:
    branches:
      - output
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: karkiparbat
          outputs: dist/snake.svg

      - name: Push snake to output branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
